<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>HIENONIMI FORUM</title>
        <meta charset="utf-8" />
    </head>

    <body>
        
        <table>
            <tr>
                <th>Kayttaja</th>
                <th>Viesti</th>
            </tr>
            <tr th:each="viesti : ${viestit}">
                <td> th:text="${viesti.kayttaja_id}">kayttaja</td>
                <td th:text="${viesti.viesti}">viesti</td>
            </tr>
        </table>

    </body>
</html>