<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>HIENONIMI FORUM</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <table>
            <tr>
                <th>Kayttaja</th>
                <th>Viesti</th>                
            </tr>
            <tr th:each="viesti : ${viestit}">
                <td th:text="${viesti.kayttajanimi}">kayttaja</td>
                <td th:text="${viesti.viesti}">viesti</td>
            </tr>
        </table>

        <table>
            tässä lueteltuna viestiketjun sivut (pitäisi saada linkeiksi):
            <tr th:each="sivu : ${sivut}">
                <td th:text="${sivu}">sivu</td>
            </tr>
        </table>


        <form method="POST">
            <span>Käyttäjä:</span>
            <input type="text" name="kayttaja"/>
            <span>Viesti:</span>
            <input type="text" name="viesti"/>
            <input type="submit" value="Lähetä!"/>
        </form>

    </body>
</html>