<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>HIENONIMI FORUM</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <table>
            <tr>
                <th>Aihe</th>
                <th>Viesteja</th>
            </tr>
            <tr th:each="aihe : ${aiheet}">
                <td>  <a th:href="@{~/{id}/{aid}(id=${aihe.alue_id}, aid=${aihe.id})}" th:text="${aihe.nimi}">nimi</a></td>
                <td th:text="${aihe.viesteja}">viestit</td>
            </tr>
        </table>

        <span>Lisää uusi aihe</span>
        <form method="POST">
            <span>Käyttäjä:</span>
            <input type="text" name="kayttaja"/>
            <span>Aihe:</span>
            <input type="text" name="aihe"/>
            <span>Viesti:</span>
            <input type="text" name="viesti"/>
            <input type="submit" value="Lähetä!"/>
        </form>

    </body>
</html>