<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>HIENONIMI FORUM</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tervetuloa!</h1>
        
        <table>
            <tr>
                <th>Alue</th>
                <th>Viesteja</th>
                <th>Viimeisin</th>
            </tr>
            <tr th:each="alue : ${alueet}">
                <td>  <a th:href="@{~/{id}(id=${alue.id})}" th:text="${alue.nimi}">nimi</a></td>
                <td th:text="${alue.viesteja}">viestit</td>
                <td th:text="${alue.viimeisin}">viimeisin</td>
            </tr>
        </table>

    </body>
</html>